<div class="row" style="padding-top: 10%"></div>
<div class="col"></div>
<div class="col-md-7">
  <h1>Edit Article</h1>
  <%= render('shared/form_save_article') %>
</div>
<div class="row"></div>
<div class="col"></div>
