<div class="row" style="padding-top: 8%;">
  <div class="col">
  </div>
  <div class="col-md-7 text-center">
    <%= image_tag('trajan.png', style: 'width: 100%') %>
    <div class="jumbotron">
      <h1>Welcome to my Blog</h1>
      <p><%= link_to('Read My Blog', articles_path, class: 'btn btn-lg btn-welcome') %></p>
    </div>
  </div>
  <div class="col">
  </div>
</div>
