/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "welcome";
@import "navigation";
@import "footer";

/* cai nay cua bootstrap */
/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-color: #ffddee;
}

.white {
    color: #ffffff;
}

.linktxt {
    color: #deddee;
}

.linktxt:hover {
    color: #ffffff;
}

.container {
    padding-top: 15px;
}

thead {
    background-color: #553344;
    color: #ffffff;
}

.form-control {
    background-color: #efeeef;
    border: 2px solid #eeccdd;
}

.jumbotron {
    background-color: #ffffff;
}
