.footer {
  background-color: #f31346;
  min-height: 10rem;
  margin-top: 2rem;
}

.col-md-4 {
  min-width: 10rem;
  padding: 0;
  margin: 0;
}

.padding {
  padding: 2rem;
}

.darker {
  background-color: #441122;
}

.dark {
  background-color: #552233;
}
