// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-welcome {
  background-color: #ff0055;
  color: #efeeef;
}

.btn-welcome:hover {
  background-color: #ee0044;
  color: #ffffff;
}

h1 {
  margin-bottom: 20px;
}
